<a href="https://colab.research.google.com/github/nxxk23/BasicProg_DataViz65/blob/main/pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
unit = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_unittype.csv')
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [7]:
unit.shape

(42625, 27)

In [8]:
unit.describe()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,42625.000000,42625.000000,3747.000000,36999.000000,3.542800e+04,1780.000000,0.0,29709.000000,23520.000000,41144.000000,40658.000000,13670.000000,13044.000000,20454.000000,10026.000000,2068.000000,4108.000000,699.000000
mean,21313.000000,938.471859,44.413819,139.286943,5.569699e+06,2.465730,NaN,1.945572,1.844090,2.286263,2.528137,1.001902,1.010810,1.018138,1.053860,1.048356,1.054771,1.058655
std,12304.921949,4220.823322,21.502884,111.939963,1.117088e+07,1.512717,NaN,0.658217,0.759404,1.145901,1.158793,0.043572,0.106334,0.134549,0.262145,0.227696,0.269673,0.284749
min,1.000000,1.000000,1.000000,14.000000,1.000000e+05,1.000000,NaN,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10657.000000,1.000000,23.000000,60.000000,1.950000e+06,1.000000,NaN,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21313.000000,2.000000,50.000000,125.000000,3.100000e+06,2.000000,NaN,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31969.000000,3.000000,60.000000,179.000000,5.290000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,NaN,9.000000,10.000000,11.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000

#ตรวจสอบ Missing

In [9]:
unit.isnull() #ตรวจสอบว่าค่านั้นเป็นค่า missing ไหม

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,True,False,True,...,True,True,True,True,True,True,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,False,False,False,False,False,False,False,True,False,True,...,True,False,True,True,True,True,False,False,False,False
42621,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,False,False,False,False
42622,False,False,False,False,False,False,False,True,False,True,...,False,True,True,True,True,True,False,False,False,False
42623,False,False,False,False,False,False,False,True,False,False,...,True,False,True,True,True,True,False,False,False,False
42624,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,True,True,False,False,False,False

In [10]:
unit.isnull().any() # การเอาค่าความจริงใน column มา or กัน
# column ที่ False คือ ไม่มี missing

row_number              False
unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
area_usable_min          True
price_min                True
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
date_created            False
date_updated            False
source                  False
url_unittype             True
dtype: bool

In [11]:
unit.isnull().all() # การเอาค่าความจริงใน column มา and กัน ไม่ได้เกี่ยวกับค่า missing
# column ที่ true เป็นค่าว่างทั้งหมด

row_number              False
unittype_id             False
project_id              False
name_th                 False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa       False
area_usable_min         False
price_min               False
count_airconditioner    False
count_elevator           True
count_floor_internal    False
count_parking           False
count_room_bath         False
count_room_bed          False
count_room_dinning      False
count_room_guest        False
count_room_kitchen      False
count_room_living       False
count_room_maid         False
count_room_storage      False
count_room_utility      False
date_created            False
date_updated            False
source                  False
url_unittype            False
dtype: bool

In [12]:
unit.isnull().any().any()  # or มี 1 true = true

True

##ลบ missing

missing -> null, na (not autorized), NaN (Not a number)

In [13]:
unit.dropna() #count_elevator is all missing

Empty DataFrame
Columns: [row_number, unittype_id, project_id, name_th, propertytype_id, propertytype_name_en, propertytype_name_th, area_total_min_wa, area_usable_min, price_min, count_airconditioner, count_elevator, count_floor_internal, count_parking, count_room_bath, count_room_bed, count_room_dinning, count_room_guest, count_room_kitchen, count_room_living, count_room_maid, count_room_storage, count_room_utility, date_created, date_updated, source, url_unittype]
Index: []

[0 rows x 27 columns]

In [14]:
unit.dropna(axis=1) # drop column which contains missing values

,row_number,unittype_id,project_id,propertytype_id,propertytype_name_en,propertytype_name_th,date_created,date_updated,source
0,27501,unittype_9565,project_2446,2,Condo,คอนโด,2021-11-19 18:00:09,2021-11-19 17:44:45,baania
1,28777,unittype_10267,project_3543,20000,Twin house,บ้านแฝด,2022-01-27 14:30:04,2022-01-27 14:22:55,baania
2,28865,unittype_471,project_143,2,Condo,คอนโด,2022-01-14 15:00:10,2022-01-14 14:40:04,baania
3,24988,unittype_19506,project_7766,2,Condo,คอนโด,2020-12-04 10:40:59,2020-10-14 01:06:48,baania
4,38596,unittype_10290,project_3551,3,Townhome,ทาวน์โฮม,2021-11-12 13:30:08,2021-02-03 12:12:54,baania
...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,1,Detached House,บ้าน,2021-11-12 13:22:37,2020-10-14 10:05:42,baania
42621,14,unittype_14016,project_5275,1,Detached House,บ้าน,2020-12-04 10:36:32,2020-10-14 00:37:51,baania
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,3,Townhome,ทาวน์โฮม,2021-11-12 13:34:17,2021-10-29 18:43:09,baania
42623,9333,unittype_37375,project_16389,1,Detached House,บ้าน,2020-12-04 10:42:26,2020-10-14 19:30:46,baania
42624,780,unittype_17011,project_6762,1,Detached House,บ้าน,2021-11-12 13:19:43,2020-10-14 00:41:39,baania

In [15]:
unit.dropna(how='all')

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,NaN,157.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,NaN,133.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [16]:
unit.iloc[0,:]

row_number                                                          27501
unittype_id                                                 unittype_9565
project_id                                                   project_2446
name_th                                                         2 Bedroom
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      37.3
price_min                                                       2500000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-19 18:00:09
date_updated                                          2021-11-19 17:44:45
source                                                             baania
url_unittype            https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
Name: 0, dtype: object

In [17]:
unit.dropna(thresh=25)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
8741,32107,unittype_32751,project_13920,Type B,1,Detached House,บ้าน,65.25,440.0,30400000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-04-06 11:30:04,2022-04-06 11:21:49,baania,https://baania.com/th/project/โบทานิก้า-วิลล่า...
13754,27831,unittype_24527,project_9783,ทาวน์โฮมสองชั้น,3,Townhome,ทาวน์โฮม,20.60,124.0,1455000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2021-11-12 13:19:28,2020-10-14 00:37:26,baania,https://baania.com/th/project/ไลฟ-แอท-บ้านบึง-...
30772,38120,unittype_7710,project_2595,Modern Style Type A (ขายแล้ว),1,Detached House,บ้าน,92.00,340.0,12540000.0,...,1.0,2.0,1.0,1.0,1.0,NaN,2021-11-12 13:24:54,2020-10-16 16:47:23,baania,https://baania.com/th/project/วิลล่า-นครินทร์-...
34880,9789,unittype_32752,project_13920,Type A,1,Detached House,บ้าน,95.00,327.0,17880000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-04-06 11:30:03,2022-04-06 11:21:49,baania,https://baania.com/th/project/โบทานิก้า-วิลล่า...

In [18]:
unit.dropna(axis=1, thresh=42000) # เก็บเฉพาะ column ที่มี missing อย่างน้อย int

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
...,...,...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [19]:
unit.head().dropna(axis=1, thresh=3)  #ตัด column ที่มีค่า missing อย่างน้อย 3 ตัว

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_usable_min,price_min,count_room_bath,count_room_bed,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,37.3,2500000.0,1.0,2.0,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,150.0,2390000.0,3.0,3.0,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,28.0,NaN,1.0,1.0,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,27.0,170000.0,1.0,0.0,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,182.0,2390000.0,3.0,3.0,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [20]:
unit.dropna(subset=['propertytype_name_en', 'price_min', 'area_usable_min'])

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42618,22299,unittype_13674,project_5356,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,130.0,36500000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2020-12-04 10:38:03,2020-10-14 00:47:50,baania,https://baania.com/th/project/บ้านศุธาวัลย์-53...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,บ้าน,NaN,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/เศรษฐสิริ-แจ้งวั...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [21]:
unit1 = unit.dropna(subset=['propertytype_name_en', 'price_min', 'area_usable_min'])

In [22]:
unit.dropna(subset=['propertytype_name_en', 'price_min', 'area_usable_min'] , inplace = True) #ไม่ต้องเอา unit1 มารับค่าตาราง แต่ inplace เข้าตารางเดิม

In [23]:
unit1.shape

(31772, 27)

In [24]:
unit.shape

(31772, 27)

## แทนค่า missing ด้วยค่าที่เราต้องการ fillna()

In [25]:
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...

In [26]:
unit.fillna(value={'count_rooom_utility':0 , 'area_total_min_wa':unit['area_total_min_wa'].mean()})

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,44.084933,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.000000,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,44.084933,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,44.084933,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.500000,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42618,22299,unittype_13674,project_5356,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,44.084933,130.0,36500000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2020-12-04 10:38:03,2020-10-14 00:47:50,baania,https://baania.com/th/project/บ้านศุธาวัลย์-53...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,บ้าน,44.084933,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/เศรษฐสิริ-แจ้งวั...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,44.084933,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,44.084933,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,44.084933,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [27]:
{'count_rooom_utility':0 , 'area_total_min_wa':unit['area_total_min_wa'].mean()}

{'count_rooom_utility': 0, 'area_total_min_wa': 44.084933035714286}

## วนลูป record ในตาราง (iterrows)

In [28]:
unit.iterrows()

In [29]:
for row in unit.head().iterrows() :
  print(row)

(0, row_number                                                          27501
unittype_id                                                 unittype_9565
project_id                                                   project_2446
name_th                                                         2 Bedroom
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      37.3
price_min                                                       2500000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-19 18:00:09
date_updated                                          2021-11-19 17:44:45
source                                                             baania
url_unittype            https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
Name: 0, dtype: object)
(1, row_number                                                          28777
unittype_id                                                unittype_10267
project_id                                                   project_3543
name_th                                                บ้านแฝดสองชั้น Z-2
propertytype_id                                                     20000
propertytype_name_en                                           Twin house
propertytype_name_th                                              บ้านแฝด
area_total_min_wa                                                    40.0
area_usable_min                                                     150.0
price_min                                                       2390000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-01-27 14:30:04
date_updated                                          2022-01-27 14:22:55
source                                                             baania
url_unittype            https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
Name: 1, dtype: object)
(3, row_number                                                          24988
unittype_id                                                unittype_19506
project_id                                                   project_7766
name_th                                                  Studio Floor 1-2
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      27.0
price_min                                                        170000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        0.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2020-12-04 10:40:59
date_updated                                          2020-10-14 01:06:48
source                                                             baania
url_unittype            https://baania.com/th/project/บ้านสวนชมน้ำ-776...
Name: 3, dtype: object)
(4, row_number                                                          38596
unittype_id                                                unittype_10290
project_id                                                   project_3551
name_th                                                              TH 3
propertytype_id                                                         3
propertytype_name_en                                             Townhome
propertytype_name_th                                             ทาวน์โฮม
area_total_min_wa                                                     NaN
area_usable_min                                                     182.0
price_min                                                       2390000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  3.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    2.0
count_room_utility                                                    NaN
date_created                                          2021-11-12 13:30:08
date_updated                                          2021-02-03 12:12:54
source                                                             baania
url_unittype            https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
Name: 4, dtype: object)
(5, row_number                                                          30766
unittype_id                                                 unittype_8026
project_id                                                   project_2694
name_th                                                     Luciano Grand
propertytype_id                                                         1
propertytype_name_en                                       Detached House
propertytype_name_th                                                 บ้าน
area_total_min_wa                                                    70.5
area_usable_min                                                     198.0
price_min                                                      11700000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       4.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-12 13:22:43
date_updated                                          2020-10-14 19:35:20
source                                                             baania
url_unittype            https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
Name: 5, dtype: object)

In [30]:
for row in unit.head(20).iterrows() :
  if 'project_' not in row[1]['project_id'] :
    print(row)

(8, row_number                                                          41823
unittype_id                                      6215b4a7a441d30014e1f02f
project_id                                       6215b1cfc1620300140bc087
name_th                                        บ้านเดี่ยวชั้นเดียว Type C
propertytype_id                                                         1
propertytype_name_en                                       Detached House
propertytype_name_th                                                 บ้าน
area_total_min_wa                                                     NaN
area_usable_min                                                      80.0
price_min                                                        990000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  1.0
count_parking                                                         1.0
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-02-23 12:00:12
date_updated                                          2022-02-23 11:14:31
source                                                             baania
url_unittype            https://baania.com/th/project/เฌอลินน์ดา-ซำสูง...
Name: 8, dtype: object)
(16, row_number                                                          41850
unittype_id                                      621700a8a441d30014e1f0f3
project_id                                       6216fee6a441d30014e1f0f2
name_th                                               บ้านเดี่ยวชั้นเดียว
propertytype_id                                                         1
propertytype_name_en                                       Detached House
propertytype_name_th                                                 บ้าน
area_total_min_wa                                                     NaN
area_usable_min                                                      83.0
price_min                                                       2200000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  1.0
count_parking                                                         2.0
count_room_bath                                                       2.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-02-24 12:00:06
date_updated                                          2022-02-24 11:38:52
source                                                             baania
url_unittype            https://baania.com/th/project/อินทรวิลเลจ-6216...
Name: 16, dtype: object)
(23, row_number                                                          19479
unittype_id                                      60113e51061df200134fb4ef
project_id                                       5e8bfc839f161600121b497d
name_th                                                 บ้านเดี่ยวสองชั้น
propertytype_id                                                         1
propertytype_name_en                                       Detached House
propertytype_name_th                                                 บ้าน
area_total_min_wa                                                     NaN
area_usable_min                                                     300.0
price_min                                                       9900000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       4.0
count_room_bed                                                        4.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     2.0
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-12 13:29:44
date_updated                                          2021-01-27 17:22:06
source                                                             baania
url_unittype            https://baania.com/th/project/ไพรเวท-33-5e8bfc...
Name: 23, dtype: object)
(24, row_number                                                          17281
unittype_id                                      5f27d69182035a001a6f333e
project_id                                       5f0d4f38b285eb00194decde
name_th                                                            Studio
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      26.0
price_min                                                       1790000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        0.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-04-26 15:30:06
date_updated                                          2022-04-26 15:19:49
source                                                             baania
url_unittype            https://baania.com/th/project/ดีคอนโด-ไฮด์อเวย...
Name: 24, dtype: object)
(25, row_number                                                          17337
unittype_id                                      5f2d048d306e7e0019068fad
project_id                                       5f2cdf27306e7e0019068f25
name_th                                                  โฮมออฟฟิศสามชั้น
propertytype_id                                                         6
propertytype_name_en                                          Home office
propertytype_name_th                                            โฮมออฟฟิศ
area_total_min_wa                                                     NaN
area_usable_min                                                     210.0
price_min                                                       6300000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  3.0
count_parking                                                         1.0
count_room_bath                                                       4.0
count_room_bed                                                        3.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    NaN
count_room_living                                                     1.0
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-12 13:18:59
date_updated                                          2020-08-07 14:38:19
source                                                             baania
url_unittype            https://baania.com/th/project/นิวเอจ-สตูดิโอเฮ...
Name: 25, dtype: object)

In [31]:
for row in unit.iterrows() :
  if 'สตูดิโอ'  in row[1]['url_unittype'] :
    print(row[1]['url_unittype'])

https://baania.com/th/project/นิวเอจ-สตูดิโอเฮ้าส์-5f2cdf27306e7e0019068f25/โฮมออฟฟิศสามชั้น-5f2d048d306e7e0019068fad
https://baania.com/th/project/ซีรีนพาร์ค-1470/สตูดิโอ-เฮาส์-1-ขายแล้ว-unittype_4466
https://baania.com/th/project/ดีคอนโด-นิม-1442/สตูดิโอ-unittype_4392
https://baania.com/th/project/สตูดิโอ-วัน-สตูดิโอ-โซน-คอมโดมิเนียม-15052/studio-zone-unittype_35050
https://baania.com/th/project/ซีรีนพาร์ค-1470/สตูดิโอ-เฮาส์-1-2-ขายแล้ว-unittype_4465
https://baania.com/th/project/สตูดิโอ-วัน-สตูดิโอ-โซน-คอมโดมิเนียม-15052/studio-one-unittype_35049
https://baania.com/th/project/เดอะลิงค์-3-สุขุมวิท-50-9245/สตูดิโอ-unittype_23152
https://baania.com/th/project/เดอะ-ลิงค์-สุขุมวิท-50-9248/สตูดิโอ-unittype_23157
https://baania.com/th/project/ทวีผลทาวเวอร์-770/สตูดิโอ-unittype_1535
https://baania.com/th/project/มัยลาภ-คอนโดมิเนียม-5746/สตูดิโอ-unittype_14412
https://baania.com/th/project/สีมานครคอนโดมิเนียม-1718/สตูดิโอ-type-a-unittype_5208

In [32]:
for row in unit.head(2).iterrows():
  print(row)
  print('จำนวนสมาชิก', len(row))
  print('สมาชิกตัวที่ 1 ', row[0])
  print('สมาชิกตัวที่ 2 ', row[1])

(0, row_number                                                          27501
unittype_id                                                 unittype_9565
project_id                                                   project_2446
name_th                                                         2 Bedroom
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      37.3
price_min                                                       2500000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-19 18:00:09
date_updated                                          2021-11-19 17:44:45
source                                                             baania
url_unittype            https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
Name: 0, dtype: object)
จำนวนสมาชิก 2
สมาชิกตัวที่ 1  0
สมาชิกตัวที่ 2  row_number                                                          27501
unittype_id                                                 unittype_9565
project_id                                                   project_2446
name_th                                                         2 Bedroom
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      37.3
price_min                                                       2500000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-19 18:00:09
date_updated                                          2021-11-19 17:44:45
source                                                             baania
url_unittype            https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
Name: 0, dtype: object
(1, row_number                                                          28777
unittype_id                                                unittype_10267
project_id                                                   project_3543
name_th                                                บ้านแฝดสองชั้น Z-2
propertytype_id                                                     20000
propertytype_name_en                                           Twin house
propertytype_name_th                                              บ้านแฝด
area_total_min_wa                                                    40.0
area_usable_min                                                     150.0
price_min                                                       2390000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-01-27 14:30:04
date_updated                                          2022-01-27 14:22:55
source                                                             baania
url_unittype            https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
Name: 1, dtype: object)
จำนวนสมาชิก 2
สมาชิกตัวที่ 1  1
สมาชิกตัวที่ 2  row_number                                                          28777
unittype_id                                                unittype_10267
project_id                                                   project_3543
name_th                                                บ้านแฝดสองชั้น Z-2
propertytype_id                                                     20000
propertytype_name_en                                           Twin house
propertytype_name_th                                              บ้านแฝด
area_total_min_wa                                                    40.0
area_usable_min                                                     150.0
price_min                                                       2390000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-01-27 14:30:04
date_updated                                          2022-01-27 14:22:55
source                                                             baania
url_unittype            https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
Name: 1, dtype: object

## Groupby

In [33]:
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...

In [34]:
unit.describe()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,31772.000000,31772.000000,3136.000000,31772.000000,3.177200e+04,1334.000000,0.0,20946.000000,17100.000000,31117.000000,30880.000000,10938.000000,10048.000000,16010.000000,8053.000000,1539.000000,3416.000000,484.000000
mean,20742.017248,905.932425,44.084933,135.470846,5.812219e+06,2.446027,NaN,1.992361,1.854795,2.270881,2.453692,1.001646,1.010251,1.017114,1.050043,1.046784,1.050937,1.064050
std,12365.048954,4153.379976,21.600327,108.403541,1.164543e+07,1.519963,NaN,0.662424,0.760311,1.141710,1.186075,0.040535,0.103653,0.131138,0.250393,0.220284,0.250993,0.298424
min,1.000000,1.000000,1.000000,16.000000,1.000000e+05,1.000000,NaN,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,9498.750000,1.000000,22.675000,57.500000,1.990000e+06,1.000000,NaN,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21481.500000,2.000000,50.000000,120.000000,3.211500e+06,2.000000,NaN,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31374.250000,3.000000,60.000000,175.000000,5.500000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,NaN,9.000000,10.000000,10.000000,10.000000,2.000000,3.000000,3.000000,5.000000,3.000000,4.000000,4.000000

In [35]:
unit.groupby(['propertytype_name_en']).mean()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
propertytype_name_en,,,,,,,,,,,,,,,,,,
Apartment,14347.833333,5.0,NaN,32.000000,1.788333e+06,1.000000,NaN,NaN,NaN,1.000000,0.666667,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN
Commercial,21786.889575,4.0,22.938218,188.357583,4.512310e+06,2.545455,NaN,3.083075,1.710526,3.162111,2.871638,1.007874,1.006250,1.023041,1.094595,1.000000,1.045802,2.000000
Condo,20644.572843,2.0,NaN,61.315127,6.273014e+06,1.909091,NaN,2.082645,1.158228,1.373511,1.292853,1.000619,1.003828,1.002564,1.004291,1.061728,1.066667,1.000000
Detached House,20736.530514,1.0,55.266553,196.055752,7.094641e+06,3.085938,NaN,1.775630,2.010080,2.888992,3.226208,1.001943,1.014019,1.028525,1.111573,1.048423,1.047807,1.024691
Home office,22691.529644,6.0,28.565854,276.167470,1.079344e+07,5.000000,NaN,3.508000,2.844444,3.914980,2.718750,1.000000,1.044444,1.026316,1.208333,1.000000,1.062500,1.500000
Hotel,26764.500000,2362.0,NaN,57.750000,1.081375e+07,1.500000,NaN,NaN,NaN,1.000000,0.750000,1.000000,NaN,1.000000,1.000000,NaN,NaN,NaN
Office Space,35580.500000,7777.0,NaN,492.500000,1.825000e+07,NaN,NaN,4.000000,NaN,5.500000,4.000000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
Townhome,20561.698421,3.0,22.317826,128.617524,2.952449e+06,2.238739,NaN,2.158249,1.541206,2.395680,2.847408,1.001626,1.003754,1.008403,1.034514,1.000000,1.058383,1.081301
Twin house,20830.067596,20000.0,39.903211,139.504188,3.663223e+06,2.441860,NaN,1.846690,1.744628,2.454349,2.964106,1.003690,1.009600,1.025799,1.047847,1.050000,1.055276,1.076923
Warehouse / Factory,41127.800000,8.0,NaN,598.400000,1.840900e+07,NaN,NaN,2.400000,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# HW
1. เปรียบเทียบราคาเฉลี่ยของ Detached house, Condo, Twin house และ Townhome
2. พื้นที่ (area_total_min_wa และ area_usable_min) และ จำนวนห้องนอน ของทรัพย์สินที่แพงที่สุดแต่ละชนิด
3. จำนวนที่จอดรถและห้องน้ำของของทรัพย์สินที่ถูกที่สุดแต่ละชนิด

In [36]:
#1. เปรียบเทียบราคาเฉลี่ยของ Detached house, Condo, Twin house และ Townhome
unit.groupby('propertytype_name_en')['price_min'].mean()[['Detached House', 'Condo', 'Twin house', 'Townhome']]

propertytype_name_en
Detached House    7.094641e+06
Condo             6.273014e+06
Twin house        3.663223e+06
Townhome          2.952449e+06
Name: price_min, dtype: float64

In [37]:
##2. พื้นที่ (area_total_min_wa และ area_usable_min) และ จำนวนห้องนอน ของทรัพย์สินที่แพงที่สุดแต่ละชนิด
maxprice = unit.groupby('propertytype_name_en')['price_min'].max().reset_index()
maxprice

  propertytype_name_en    price_min
0            Apartment    2370000.0
1           Commercial   52000000.0
2                Condo  580000000.0
3       Detached House  285000000.0
4          Home office   92000000.0
5                Hotel   27300000.0
6         Office Space   25000000.0
7             Townhome  120000000.0
8           Twin house  129000000.0
9  Warehouse / Factory   29200000.0

In [38]:
for row in maxprice.iterrows():
    print(row[1]['propertytype_name_en'], row[1]['price_min'])
    print(unit[(unit['propertytype_name_en']==row[1]['propertytype_name_en'])  &  (unit['price_min']==row[1]['price_min'])] [['area_usable_min','area_total_min_wa','count_room_bed']])

Apartment 2370000.0
       area_usable_min  area_total_min_wa  count_room_bed
36707             32.0                NaN             1.0
Commercial 52000000.0
       area_usable_min  area_total_min_wa  count_room_bed
10190           1065.0                NaN             7.0
Condo 580000000.0
       area_usable_min  area_total_min_wa  count_room_bed
33122           1182.0                NaN             3.0
Detached House 285000000.0
       area_usable_min  area_total_min_wa  count_room_bed
18443           2400.0                NaN             5.0
Home office 92000000.0
       area_usable_min  area_total_min_wa  count_room_bed
39868            856.0                NaN             NaN
Hotel 27300000.0
       area_usable_min  area_total_min_wa  count_room_bed
32899            120.0                NaN             2.0
Office Space 25000000.0
       area_usable_min  area_total_min_wa  count_room_bed
22348            585.0                NaN             NaN
Townhome 120000000.0
       area_usable_min  area_total_min_wa  count_room_bed
25460           1000.0                NaN             6.0
Twin house 129000000.0
       area_usable_min  area_total_min_wa  count_room_bed
26629           724.95                NaN             4.0
Warehouse / Factory 29200000.0
       area_usable_min  area_total_min_wa  count_room_bed
19424            970.0                NaN             NaN

In [39]:
unit[(unit['propertytype_name_en']==row[1]['propertytype_name_en'])  &  (unit['price_min']==row[1]['price_min'])] [['area_usable_min','area_total_min_wa','count_room_bed']] #ค่าสุดท้ายของลูป

       area_usable_min  area_total_min_wa  count_room_bed
19424            970.0                NaN             NaN

In [40]:
#3. จำนวนที่จอดรถและห้องน้ำของของทรัพย์สินที่ถูกที่สุดแต่ละชนิด
minprice = unit.groupby('propertytype_name_en')['price_min'].min().reset_index()
minprice

  propertytype_name_en   price_min
0            Apartment   1390000.0
1           Commercial    468000.0
2                Condo    100000.0
3       Detached House    150000.0
4          Home office   1440500.0
5                Hotel   1390000.0
6         Office Space  11500000.0
7             Townhome    190000.0
8           Twin house    179000.0
9  Warehouse / Factory   7990000.0

In [41]:
for row in minprice.iterrows():
    print(row[1]['propertytype_name_en'], row[1]['price_min'])
    print(unit[(unit['propertytype_name_en']==row[1]['propertytype_name_en'])  &  (unit['price_min']==row[1]['price_min'])] [[ 'count_parking' , 'count_room_bath']])

Apartment 1390000.0
       count_parking  count_room_bath
16700            NaN              1.0
Commercial 468000.0
      count_parking  count_room_bath
9006            NaN              0.0
Condo 100000.0
       count_parking  count_room_bath
8640             NaN              1.0
11019            NaN              1.0
17941            NaN              1.0
30364            NaN              1.0
Detached House 150000.0
      count_parking  count_room_bath
3729            NaN              1.0
Home office 1440500.0
       count_parking  count_room_bath
14390            3.0              3.0
Hotel 1390000.0
      count_parking  count_room_bath
3222            NaN              1.0
Office Space 11500000.0
      count_parking  count_room_bath
6454            NaN              6.0
Townhome 190000.0
       count_parking  count_room_bath
11036            NaN              2.0
Twin house 179000.0
      count_parking  count_room_bath
1133            2.0              1.0
Warehouse / Factory 7990000.0
       count_parking  count_room_bath
21711            NaN              0.0

#ต่อตาราง

##ต่อตารางแกน Y (เพิ่มปริมาณข้อมูล)

In [42]:
unit.shape

(31772, 27)

ตัดตารางออกเป็น 2 ส่วน

In [43]:
unitA = unit.iloc[:15000,:]
unitB = unit.iloc[15000: , :]

In [44]:
unitA.shape

(15000, 27)

In [45]:
unitB.shape

(16772, 27)

In [46]:
unitA.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...

In [47]:
unitB.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
20102,24339,unittype_14714,project_3315,2 Bedroom Floor 7-9,2,Condo,คอนโด,NaN,64.0,1825000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:20:50,2020-10-14 00:57:30,baania,https://baania.com/th/project/88-เดอะ-เทอมินอล...
20103,24163,unittype_19063,project_4702,1 Bedroom Floor 3-4,2,Condo,คอนโด,NaN,32.0,1067000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:15,2020-10-14 01:00:47,baania,https://baania.com/th/project/พายน์คอนโด-แจ้งว...
20104,7687,unittype_36239,project_15528,ลลิลพิณ,1,Detached House,บ้าน,NaN,180.0,4740000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:14,2020-09-17 14:37:27,baania,https://baania.com/th/project/ลลิล-อินเดอะพาร์...
20105,4561,unittype_30848,project_13004,Privilege,1,Detached House,บ้าน,NaN,446.7,22500000.0,...,1.0,2.0,1.0,NaN,1.0,1.0,2022-01-21 17:30:11,2022-01-21 17:21:54,baania,https://baania.com/th/project/ลัดดารมย์-อิลิแก...
20106,35133,unittype_33046,project_14094,1 Bedroom,2,Condo,คอนโด,NaN,28.0,2590000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2022-05-23 15:00:07,2022-05-23 14:47:09,baania,https://baania.com/th/project/เดอะคิวบ์-เออร์เ...

ต่อตาราง

In [48]:
dataall = pd.concat([unitA, unitB])
dataall

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42618,22299,unittype_13674,project_5356,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,130.0,36500000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2020-12-04 10:38:03,2020-10-14 00:47:50,baania,https://baania.com/th/project/บ้านศุธาวัลย์-53...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,บ้าน,NaN,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/เศรษฐสิริ-แจ้งวั...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [49]:
dataall.shape

(31772, 27)

In [50]:
dataall.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...

In [51]:
pd.concat([unitB, unitA]).head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
20102,24339,unittype_14714,project_3315,2 Bedroom Floor 7-9,2,Condo,คอนโด,NaN,64.0,1825000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:20:50,2020-10-14 00:57:30,baania,https://baania.com/th/project/88-เดอะ-เทอมินอล...
20103,24163,unittype_19063,project_4702,1 Bedroom Floor 3-4,2,Condo,คอนโด,NaN,32.0,1067000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:15,2020-10-14 01:00:47,baania,https://baania.com/th/project/พายน์คอนโด-แจ้งว...
20104,7687,unittype_36239,project_15528,ลลิลพิณ,1,Detached House,บ้าน,NaN,180.0,4740000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:14,2020-09-17 14:37:27,baania,https://baania.com/th/project/ลลิล-อินเดอะพาร์...
20105,4561,unittype_30848,project_13004,Privilege,1,Detached House,บ้าน,NaN,446.7,22500000.0,...,1.0,2.0,1.0,NaN,1.0,1.0,2022-01-21 17:30:11,2022-01-21 17:21:54,baania,https://baania.com/th/project/ลัดดารมย์-อิลิแก...
20106,35133,unittype_33046,project_14094,1 Bedroom,2,Condo,คอนโด,NaN,28.0,2590000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2022-05-23 15:00:07,2022-05-23 14:47:09,baania,https://baania.com/th/project/เดอะคิวบ์-เออร์เ...

##ต่อตารางแกน X (เพิ่มรายละเอียดข้อมูล)

1.หาราคาบ้านที่แพงที่สุดในจังหวัดขอนแก่น

In [52]:
project = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_project.csv')
project.head

<bound method NDFrame.head of        row_number                project_id  \
0          7880.0  5ee08d64dda791001299b2a6
1         16689.0             project_11326
2           290.0  62739c4089233e001362b001
3         20719.0              project_2010
4           199.0             project_16838
...           ...                       ...
23429     12883.0             project_12317
23430     21181.0             project_12057
23431     13993.0              project_4461
23432      5889.0               project_144
23433      5529.0             project_16300

                                            name_en  \
0                Winning Residence Sukhumvit Praksa
1                                  Gift Condominium
2                  Sanrak 9 Sukprayoon Nong Krathum
3                                   Baan Sansabai 1
4                        Baanpruksa Ratchapruek-345
...                                             ...
23429  Baan Klangmeung Urbanion Ladphrao-Chokchai 4
23430                           @Home Kaset-Nawamin
23431                    I-Design Wongwaen-Ramintra
23432                 Koolpunt Ville 15 Park Avenue
23433                          Thawisuk Garden Home

                                             name_th propertytype_id  \
0                 วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา               1
1                                กิ๊ฟท์ คอนโดมิเนียม               2
2                     แสนรัก 9 ศุขประยูร หนองกระทุ่ม               3
3                                      บ้านแสนสบาย 1               1
4                             บ้านพฤกษา ราชพฤกษ์-345               3
...                                              ...             ...
23429  บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4               3
23430                          แอทโฮม เกษตร-นวมินทร์               3
23431                     ไอ-ดีไซน์ วงแหวน-รามอินทรา               4
23432                  กุลพันธ์วิลล์ 15 พาร์ค อเวนิว               1
23433                             ทวีสุข การ์เด้นโฮม               1

      propertytype_name_en propertytype_name_th  price_min     developer_id  \
0           Detached House                 บ้าน  3790000.0  developer_10678
1                    Condo                คอนโด  1100000.0   developer_7319
2                 Townhome             ทาวน์โฮม        0.0  developer_10510
3           Detached House                 บ้าน        0.0  developer_10510
4                 Townhome             ทาวน์โฮม  1930000.0   developer_1026
...                    ...                  ...        ...              ...
23429             Townhome             ทาวน์โฮม  5700000.0   developer_1760
23430             Townhome             ทาวน์โฮม  3590000.0   developer_1793
23431           Commercial         อาคารพาณิชย์  1870000.0   developer_2217
23432       Detached House                 บ้าน  4000000.0   developer_1004
23433       Detached House                 บ้าน  2800000.0  developer_10510

                   developer_name_en  ... facility_meeting  facility_park  \
0       Winning Asset Plus Co., Ltd.  ...              NaN            NaN
1           Gift Asset Land Co.,Ltd.  ...              NaN            1.0
2                                NaN  ...              NaN            NaN
3                                NaN  ...              NaN            NaN
4       Preuksa Real Estate Co.,Ltd.  ...              NaN            1.0
...                              ...  ...              ...            ...
23429         AP (Thailand) Co,. Ltd  ...              NaN            1.0
23430       Areeya Property Co.,Ltd.  ...              NaN            NaN
23431  Wangthong Group Pub Co., Ltd.  ...              NaN            1.0
23432     Homeland Service Co., Ltd.  ...              NaN            1.0
23433                            NaN  ...              NaN            NaN

       facility_playground facility_pool facility_security  \
0                      NaN           1.0               1.0
1                      NaN           1.0               1.0
2                      NaN           NaN               NaN
3                      NaN           NaN               NaN
4                      NaN           1.0               1.0
...                    ...           ...               ...
23429                  1.0           NaN               1.0
23430                  NaN           NaN               1.0
23431                  1.0           NaN               1.0
23432                  1.0           1.0               1.0
23433                  NaN           NaN               NaN

              date_created          date_finish         date_updated  source  \
0      2020-06-10 14:36:04                  NaN  2020-12-04 10:32:58  baania
1      2017-10-30 15:38:48  2013-01-01 07:00:00  2020-12-04 10:49:00  baania
2      2022-05-05 16:43:28                  NaN  2022-05-05 17:30:03  baania
3      2016-09-05 15:32:15  1970-01-02 07:00:00  2020-12-04 10:45:31  baania
4      2019-09-05 11:49:37  1970-01-02 07:00:00  2021-03-17 12:00:04  baania
...                    ...                  ...                  ...     ...
23429  2017-12-06 13:10:23  1970-01-02 07:00:00  2020-12-04 10:42:15  baania
23430  2017-11-30 11:12:12  1970-01-02 07:00:00  2022-06-06 16:30:06  baania
23431  2017-03-02 11:07:30  2014-12-31 07:00:00  2020-12-04 10:42:33  baania
23432  2015-09-28 09:00:28  2020-01-01 07:00:00  2022-01-10 15:00:13  baania
23433  2019-07-05 17:10:33  1970-01-02 07:00:00  2020-12-04 10:45:22  baania

                                             url_project
0      https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1      https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2      https://baania.com/th/project/แสนรัก-9-ศุขประย...
3      https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4      https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
...                                                  ...
23429  https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430  https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431  https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432  https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433  https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

[23434 rows x 45 columns]>

### ต่อแบบเอาตารางมาต่อกันเลย

In [53]:
unit.merge(project, left_on='project_id', right_on='project_id')

,row_number_x,unittype_id,project_id,name_th_x,propertytype_id_x,propertytype_name_en_x,propertytype_name_th_x,area_total_min_wa,area_usable_min,price_min_x,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created_y,date_finish,date_updated_y,source_y,url_project
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,NaN,1.0,NaN,1.0,1.0,2016-11-10 16:56:40,2018-01-01 07:00:00,2021-11-19 18:00:09,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,38108,unittype_18502,project_2446,1 Bedroom,2,Condo,คอนโด,NaN,24.0,1390000.0,...,NaN,1.0,NaN,1.0,1.0,2016-11-10 16:56:40,2018-01-01 07:00:00,2021-11-19 18:00:09,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
2,2396,unittype_9564,project_2446,1 Bedroom Plus,2,Condo,คอนโด,NaN,29.0,1990000.0,...,NaN,1.0,NaN,1.0,1.0,2016-11-10 16:56:40,2018-01-01 07:00:00,2021-11-19 18:00:09,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
3,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,2017-01-24 13:55:45,2022-01-01 07:00:00,2022-01-27 14:30:04,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
4,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,2017-01-24 13:55:45,2022-01-01 07:00:00,2022-01-27 14:30:04,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39350,34220,unittype_34441,project_14828,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,120.0,5200000.0,...,NaN,1.0,NaN,1.0,1.0,2018-10-09 10:08:35,1970-01-02 07:00:00,2020-12-04 10:45:11,baania,https://baania.com/th/project/เอ็มเมอร์รัล-กรี...
39351,24384,unittype_14126,project_5602,ทาวน์โฮมสามชั้น,3,Townhome,ทาวน์โฮม,NaN,349.0,18000000.0,...,NaN,NaN,NaN,NaN,1.0,2017-03-30 14:52:46,2006-01-26 07:00:00,2020-12-04 10:45:58,baania,https://baania.com/th/project/เดอะ-ซีนีธ-proje...
39352,33124,unittype_21700,project_8631,อาคารพาณิชย์สามชั้น,4,Commercial,อาคารพาณิชย์,NaN,250.0,5990000.0,...,NaN,NaN,NaN,NaN,NaN,2017-07-11 15:26:09,1970-01-02 07:00:00,2020-12-04 10:46:14,baania,https://baania.com/th/project/พลอยไพลิน-เพลส-p...
39353,41022,617fc61e551dd10015a6933e,617fc4d3f62011001350de55,ทาวน์โฮมสามชั้น,3,Townhome,ทาวน์โฮม,NaN,142.1,4880000.0,...,NaN,1.0,NaN,1.0,1.0,2021-11-01 17:43:31,NaN,2021-11-02 10:30:03,baania,https://baania.com/th/project/บ้านกลางเมือง-สุ...
39354,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,NaN,NaN,NaN,NaN,2019-07-12 15:47:44,1970-01-02 07:00:00,2020-12-04 10:42:26,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...

In [54]:
this = unit.merge(project, left_on='project_id', right_on='project_id')
this[this['province_name_th']=='ขอนแก่น']

,row_number_x,unittype_id,project_id,name_th_x,propertytype_id_x,propertytype_name_en_x,propertytype_name_th_x,area_total_min_wa,area_usable_min,price_min_x,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created_y,date_finish,date_updated_y,source_y,url_project
28,41823,6215b4a7a441d30014e1f02f,6215b1cfc1620300140bc087,บ้านเดี่ยวชั้นเดียว Type C,1,Detached House,บ้าน,NaN,80.0,990000.0,...,NaN,NaN,NaN,NaN,NaN,2022-02-23 11:02:23,NaN,2022-02-23 12:00:12,baania,https://baania.com/th/project/เฌอลินน์ดา-ซำสูง...
29,41821,6215b324412ede001495e35f,6215b1cfc1620300140bc087,บ้านเดี่ยวชั้นเดียว Type A,1,Detached House,บ้าน,NaN,108.0,1530000.0,...,NaN,NaN,NaN,NaN,NaN,2022-02-23 11:02:23,NaN,2022-02-23 12:00:12,baania,https://baania.com/th/project/เฌอลินน์ดา-ซำสูง...
30,41822,6215b3afc1620300140bc08b,6215b1cfc1620300140bc087,บ้านเดี่ยวชั้นเดียว Type B,1,Detached House,บ้าน,NaN,84.0,1350000.0,...,NaN,NaN,NaN,NaN,NaN,2022-02-23 11:02:23,NaN,2022-02-23 12:00:12,baania,https://baania.com/th/project/เฌอลินน์ดา-ซำสูง...
61,41850,621700a8a441d30014e1f0f3,6216fee6a441d30014e1f0f2,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,83.0,2200000.0,...,NaN,NaN,NaN,NaN,NaN,2022-02-24 10:43:34,NaN,2022-02-24 12:00:06,baania,https://baania.com/th/project/อินทรวิลเลจ-6216...
334,9355,unittype_37999,project_1865,Type D,2,Condo,คอนโด,NaN,51.0,2240000.0,...,NaN,1.0,NaN,NaN,1.0,2016-08-22 15:21:35,2021-01-01 07:00:00,2022-02-23 12:00:12,baania,https://baania.com/th/project/ซิตี้-พาร์ค-คอนโ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38975,41860,62176376a441d30014e1f149,62176311a441d30014e1f147,บ้านเดี่ยวชั้นเดียวสไตล์นอร์ดิก,1,Detached House,บ้าน,NaN,160.0,2990000.0,...,NaN,NaN,NaN,NaN,NaN,2022-02-24 17:50:57,NaN,2022-02-25 09:30:06,baania,https://baania.com/th/project/บ้านโชคดี-621763...
38976,41861,62176499a441d30014e1f14b,62176311a441d30014e1f147,บ้านเดี่ยวชั้นเดียวโมเดิร์นคลาสสิค,1,Detached House,บ้าน,NaN,160.0,2590000.0,...,NaN,NaN,NaN,NaN,NaN,2022-02-24 17:50:57,NaN,2022-02-25 09:30:06,baania,https://baania.com/th/project/บ้านโชคดี-621763...
39331,19327,5ffd25870b458100134e46f8,5ffd2517a7d2770012bceb17,บ้านเดี่ยวสองชั้น,1,Detached House,บ้าน,NaN,116.0,2690000.0,...,NaN,NaN,NaN,NaN,NaN,2021-01-12 11:27:03,NaN,2022-02-11 11:00:07,baania,https://baania.com/th/project/สุณภัทร-5ffd2517...
39336,13609,unittype_40203,project_17526,ทาวน์โฮมสองชั้น,3,Townhome,ทาวน์โฮม,NaN,101.0,1710000.0,...,NaN,1.0,1.0,NaN,1.0,2020-02-04 15:15:04,1970-01-02 07:00:00,2022-02-23 10:30:03,baania,https://baania.com/th/project/ศุภาลัย-บลิซ-มะล...
39348,19373,5ffebd88a7d2770012bced13,5ffebcf0a7d2770012bced11,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,142.0,2690000.0,...,NaN,NaN,NaN,NaN,NaN,2021-01-13 16:27:12,NaN,2022-02-14 09:30:04,baania,https://baania.com/th/project/สไมล์โฮม-ขอนแก่น...

In [55]:
this[this['province_name_th']=='ขอนแก่น'].max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

row_number_x                                                          42358
unittype_id                                                   unittype_9260
project_id                                                     project_3092
name_th_x                                                              ไทโซ
propertytype_id_x                                                     20000
propertytype_name_en_x                                           Twin house
propertytype_name_th_x                                            โฮมออฟฟิศ
area_total_min_wa                                                      90.0
area_usable_min                                                       609.0
price_min_x                                                      19580000.0
count_airconditioner                                                    5.0
count_elevator_x                                                        NaN
count_floor_internal                                                    9.0
count_parking_x                                                         5.0
count_room_bath                                                         7.0
count_room_bed                                                          6.0
count_room_dinning                                                      1.0
count_room_guest                                                        2.0
count_room_kitchen                                                      2.0
count_room_living                                                       2.0
count_room_maid                                                         1.0
count_room_storage                                                      3.0
count_room_utility                                                      1.0
date_created_x                                          2022-06-03 01:00:10
date_updated_x                                          2022-06-03 00:32:58
source_x                                                             baania
url_unittype              https://baania.com/th/project/ไฮด์-คอนโด-1909/...
row_number_y                                                        23279.0
name_en                                      ํํYoucharoen Baan Thum Phase 2
name_th_y                                                        ไฮด์ คอนโด
propertytype_id_y                                                         6
propertytype_name_en_y                                           Twin house
propertytype_name_th_y                                            โฮมออฟฟิศ
price_min_y                                                        990000.0
developer_id                                                 developer_9970
latitude                                                          16.862644
longitude                                                        103.084464
subdistrict_id                                                       2851.0
district_id                                                          2850.0
district_name_en                                                  WAENG NOI
district_name_th                                                    แวงน้อย
province_id                                                          2637.0
province_name_en                                                  Khon Kaen
province_name_th                                                    ขอนแก่น
zipcode                                                             40320.0
count_tower                                                            None
count_unit                                                            983.0
count_unittype                                                         15.0
facility_clubhouse                                                      1.0
facility_fitness                                                        1.0
facility_meeting                                                        1.0
facility_park                                                           1.0
facility_playground                                                     1.0
facility_pool                                                           1.0
facility_security                                                       1.0
date_created_y                                          2022-04-20 11:32:40
date_updated_y                                          2022-06-03 01:00:10
source_y                                                             baania
url_project               https://baania.com/th/project/ไฮด์-คอนโด-proje...
dtype: object

###ต่อแบบเลือกมาเฉพาะบางคอลัมน์ (map)

In [ ]:
unit.merge(project, left_on='project_id', right_on='project_id')

In [57]:
project_nodup = project.drop_duplicates(subset=['project_id'])

In [60]:
unit['price_min'] = unit['project_id'].map(project_nodup.set_index('project_id')['price_min'])

In [61]:
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,1390000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,1990000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,9900000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...