<a href="https://colab.research.google.com/github/nxxk23/BasicProg_DataViz65/blob/main/pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
unit = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_unittype.csv')
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [ ]:
unit.shape

(42625, 27)

In [ ]:
unit.describe()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,42625.000000,42625.000000,3747.000000,36999.000000,3.542800e+04,1780.000000,0.0,29709.000000,23520.000000,41144.000000,40658.000000,13670.000000,13044.000000,20454.000000,10026.000000,2068.000000,4108.000000,699.000000
mean,21313.000000,938.471859,44.413819,139.286943,5.569699e+06,2.465730,NaN,1.945572,1.844090,2.286263,2.528137,1.001902,1.010810,1.018138,1.053860,1.048356,1.054771,1.058655
std,12304.921949,4220.823322,21.502884,111.939963,1.117088e+07,1.512717,NaN,0.658217,0.759404,1.145901,1.158793,0.043572,0.106334,0.134549,0.262145,0.227696,0.269673,0.284749
min,1.000000,1.000000,1.000000,14.000000,1.000000e+05,1.000000,NaN,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10657.000000,1.000000,23.000000,60.000000,1.950000e+06,1.000000,NaN,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21313.000000,2.000000,50.000000,125.000000,3.100000e+06,2.000000,NaN,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31969.000000,3.000000,60.000000,179.000000,5.290000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,NaN,9.000000,10.000000,11.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000

#ตรวจสอบ Missing

In [ ]:
unit.isnull() #ตรวจสอบว่าค่านั้นเป็นค่า missing ไหม

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,True,False,True,...,True,True,True,True,True,True,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,False,False,False,False,False,False,False,True,False,True,...,True,False,True,True,True,True,False,False,False,False
42621,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,False,False,False,False
42622,False,False,False,False,False,False,False,True,False,True,...,False,True,True,True,True,True,False,False,False,False
42623,False,False,False,False,False,False,False,True,False,False,...,True,False,True,True,True,True,False,False,False,False
42624,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,True,True,False,False,False,False

In [ ]:
unit.isnull().any() # การเอาค่าความจริงใน column มา or กัน
# column ที่ False คือ ไม่มี missing

row_number              False
unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
area_usable_min          True
price_min                True
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
date_created            False
date_updated            False
source                  False
url_unittype             True
dtype: bool

In [ ]:
unit.isnull().all() # การเอาค่าความจริงใน column มา and กัน ไม่ได้เกี่ยวกับค่า missing
# column ที่ true เป็นค่าว่างทั้งหมด

row_number              False
unittype_id             False
project_id              False
name_th                 False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa       False
area_usable_min         False
price_min               False
count_airconditioner    False
count_elevator           True
count_floor_internal    False
count_parking           False
count_room_bath         False
count_room_bed          False
count_room_dinning      False
count_room_guest        False
count_room_kitchen      False
count_room_living       False
count_room_maid         False
count_room_storage      False
count_room_utility      False
date_created            False
date_updated            False
source                  False
url_unittype            False
dtype: bool

In [ ]:
unit.isnull().any().any()  # or มี 1 true = true

True

#ลบ missing

missing -> null, na (not autorized), NaN (Not a number)

In [ ]:
unit.dropna() #count_elevator is all missing

Empty DataFrame
Columns: [row_number, unittype_id, project_id, name_th, propertytype_id, propertytype_name_en, propertytype_name_th, area_total_min_wa, area_usable_min, price_min, count_airconditioner, count_elevator, count_floor_internal, count_parking, count_room_bath, count_room_bed, count_room_dinning, count_room_guest, count_room_kitchen, count_room_living, count_room_maid, count_room_storage, count_room_utility, date_created, date_updated, source, url_unittype]
Index: []

[0 rows x 27 columns]

In [ ]:
unit.dropna(axis=1) # drop column which contains missing values

,row_number,unittype_id,project_id,propertytype_id,propertytype_name_en,propertytype_name_th,date_created,date_updated,source
0,27501,unittype_9565,project_2446,2,Condo,คอนโด,2021-11-19 18:00:09,2021-11-19 17:44:45,baania
1,28777,unittype_10267,project_3543,20000,Twin house,บ้านแฝด,2022-01-27 14:30:04,2022-01-27 14:22:55,baania
2,28865,unittype_471,project_143,2,Condo,คอนโด,2022-01-14 15:00:10,2022-01-14 14:40:04,baania
3,24988,unittype_19506,project_7766,2,Condo,คอนโด,2020-12-04 10:40:59,2020-10-14 01:06:48,baania
4,38596,unittype_10290,project_3551,3,Townhome,ทาวน์โฮม,2021-11-12 13:30:08,2021-02-03 12:12:54,baania
...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,1,Detached House,บ้าน,2021-11-12 13:22:37,2020-10-14 10:05:42,baania
42621,14,unittype_14016,project_5275,1,Detached House,บ้าน,2020-12-04 10:36:32,2020-10-14 00:37:51,baania
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,3,Townhome,ทาวน์โฮม,2021-11-12 13:34:17,2021-10-29 18:43:09,baania
42623,9333,unittype_37375,project_16389,1,Detached House,บ้าน,2020-12-04 10:42:26,2020-10-14 19:30:46,baania
42624,780,unittype_17011,project_6762,1,Detached House,บ้าน,2021-11-12 13:19:43,2020-10-14 00:41:39,baania

In [ ]:
unit.dropna(how='all')

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,NaN,157.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,NaN,133.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [ ]:
unit.iloc[0,:]

row_number                                                          27501
unittype_id                                                 unittype_9565
project_id                                                   project_2446
name_th                                                         2 Bedroom
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      37.3
price_min                                                       2500000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-19 18:00:09
date_updated                                          2021-11-19 17:44:45
source                                                             baania
url_unittype            https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
Name: 0, dtype: object

In [ ]:
unit.dropna(thresh=25)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
8741,32107,unittype_32751,project_13920,Type B,1,Detached House,บ้าน,65.25,440.0,30400000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-04-06 11:30:04,2022-04-06 11:21:49,baania,https://baania.com/th/project/โบทานิก้า-วิลล่า...
13754,27831,unittype_24527,project_9783,ทาวน์โฮมสองชั้น,3,Townhome,ทาวน์โฮม,20.60,124.0,1455000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2021-11-12 13:19:28,2020-10-14 00:37:26,baania,https://baania.com/th/project/ไลฟ-แอท-บ้านบึง-...
30772,38120,unittype_7710,project_2595,Modern Style Type A (ขายแล้ว),1,Detached House,บ้าน,92.00,340.0,12540000.0,...,1.0,2.0,1.0,1.0,1.0,NaN,2021-11-12 13:24:54,2020-10-16 16:47:23,baania,https://baania.com/th/project/วิลล่า-นครินทร์-...
34880,9789,unittype_32752,project_13920,Type A,1,Detached House,บ้าน,95.00,327.0,17880000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-04-06 11:30:03,2022-04-06 11:21:49,baania,https://baania.com/th/project/โบทานิก้า-วิลล่า...

In [ ]:
unit.dropna(axis=1, thresh=42000) # เก็บเฉพาะ column ที่มี missing อย่างน้อย int

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
...,...,...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [ ]:
unit.head().dropna(axis=1, thresh=3)  #ตัด column ที่มีค่า missing อย่างน้อย 3 ตัว

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_usable_min,price_min,count_floor_internal,count_parking,count_room_bath,count_room_bed,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,37.3,2500000.0,NaN,NaN,1.0,2.0,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,150.0,2390000.0,2.0,2.0,3.0,3.0,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,27.0,170000.0,NaN,NaN,1.0,0.0,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,182.0,2390000.0,3.0,2.0,3.0,3.0,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,198.0,11700000.0,2.0,2.0,4.0,3.0,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...

In [ ]:
unit.dropna(subset=['propertytype_name_en', 'price_min', 'area_usable_min'])

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42618,22299,unittype_13674,project_5356,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,130.0,36500000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2020-12-04 10:38:03,2020-10-14 00:47:50,baania,https://baania.com/th/project/บ้านศุธาวัลย์-53...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,บ้าน,NaN,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/เศรษฐสิริ-แจ้งวั...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [ ]:
unit1 = unit.dropna(subset=['propertytype_name_en', 'price_min', 'area_usable_min'])

In [ ]:
unit.dropna(subset=['propertytype_name_en', 'price_min', 'area_usable_min'] , inplace = True) #ไม่ต้องเอา unit1 มารับค่าตาราง แต่ inplace เข้าตารางเดิม

In [ ]:
unit1.shape

(31772, 27)

In [ ]:
unit.shape

(31772, 27)

## แทนค่า missing ด้วยค่าที่เราต้องการ fillna()

In [ ]:
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...

In [ ]:
unit.fillna(value={'count_rooom_utility':0 , 'area_total_min_wa':unit['area_total_min_wa'].mean()})

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,44.084933,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.000000,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,44.084933,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,44.084933,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.500000,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42618,22299,unittype_13674,project_5356,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,44.084933,130.0,36500000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2020-12-04 10:38:03,2020-10-14 00:47:50,baania,https://baania.com/th/project/บ้านศุธาวัลย์-53...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,บ้าน,44.084933,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/เศรษฐสิริ-แจ้งวั...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,44.084933,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,44.084933,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,44.084933,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [ ]:
{'count_rooom_utility':0 , 'area_total_min_wa':unit['area_total_min_wa'].mean()}

{'area_total_min_wa': 44.084933035714286, 'count_rooom_utility': 0}

## วนลูป record ในตาราง (iterrows)

In [ ]:
unit.iterrows()

In [ ]:
for row in unit.head().iterrows() :
  print(row)

(0, row_number                                                          27501
unittype_id                                                 unittype_9565
project_id                                                   project_2446
name_th                                                         2 Bedroom
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      37.3
price_min                                                       2500000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-19 18:00:09
date_updated                                          2021-11-19 17:44:45
source                                                             baania
url_unittype            https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
Name: 0, dtype: object)
(1, row_number                                                          28777
unittype_id                                                unittype_10267
project_id                                                   project_3543
name_th                                                บ้านแฝดสองชั้น Z-2
propertytype_id                                                     20000
propertytype_name_en                                           Twin house
propertytype_name_th                                              บ้านแฝด
area_total_min_wa                                                    40.0
area_usable_min                                                     150.0
price_min                                                       2390000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-01-27 14:30:04
date_updated                                          2022-01-27 14:22:55
source                                                             baania
url_unittype            https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
Name: 1, dtype: object)
(3, row_number                                                          24988
unittype_id                                                unittype_19506
project_id                                                   project_7766
name_th                                                  Studio Floor 1-2
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      27.0
price_min                                                        170000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        0.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2020-12-04 10:40:59
date_updated                                          2020-10-14 01:06:48
source                                                             baania
url_unittype            https://baania.com/th/project/บ้านสวนชมน้ำ-776...
Name: 3, dtype: object)
(4, row_number                                                          38596
unittype_id                                                unittype_10290
project_id                                                   project_3551
name_th                                                              TH 3
propertytype_id                                                         3
propertytype_name_en                                             Townhome
propertytype_name_th                                             ทาวน์โฮม
area_total_min_wa                                                     NaN
area_usable_min                                                     182.0
price_min                                                       2390000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  3.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    2.0
count_room_utility                                                    NaN
date_created                                          2021-11-12 13:30:08
date_updated                                          2021-02-03 12:12:54
source                                                             baania
url_unittype            https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
Name: 4, dtype: object)
(5, row_number                                                          30766
unittype_id                                                 unittype_8026
project_id                                                   project_2694
name_th                                                     Luciano Grand
propertytype_id                                                         1
propertytype_name_en                                       Detached House
propertytype_name_th                                                 บ้าน
area_total_min_wa                                                    70.5
area_usable_min                                                     198.0
price_min                                                      11700000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       4.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-12 13:22:43
date_updated                                          2020-10-14 19:35:20
source                                                             baania
url_unittype            https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
Name: 5, dtype: object)

In [ ]:
for row in unit.head(20).iterrows() :
  if 'project_' not in row[1]['project_id'] :
    print(row)

(8, row_number                                                          41823
unittype_id                                      6215b4a7a441d30014e1f02f
project_id                                       6215b1cfc1620300140bc087
name_th                                        บ้านเดี่ยวชั้นเดียว Type C
propertytype_id                                                         1
propertytype_name_en                                       Detached House
propertytype_name_th                                                 บ้าน
area_total_min_wa                                                     NaN
area_usable_min                                                      80.0
price_min                                                        990000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  1.0
count_parking                                                         1.0
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-02-23 12:00:12
date_updated                                          2022-02-23 11:14:31
source                                                             baania
url_unittype            https://baania.com/th/project/เฌอลินน์ดา-ซำสูง...
Name: 8, dtype: object)
(16, row_number                                                          41850
unittype_id                                      621700a8a441d30014e1f0f3
project_id                                       6216fee6a441d30014e1f0f2
name_th                                               บ้านเดี่ยวชั้นเดียว
propertytype_id                                                         1
propertytype_name_en                                       Detached House
propertytype_name_th                                                 บ้าน
area_total_min_wa                                                     NaN
area_usable_min                                                      83.0
price_min                                                       2200000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  1.0
count_parking                                                         2.0
count_room_bath                                                       2.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-02-24 12:00:06
date_updated                                          2022-02-24 11:38:52
source                                                             baania
url_unittype            https://baania.com/th/project/อินทรวิลเลจ-6216...
Name: 16, dtype: object)
(23, row_number                                                          19479
unittype_id                                      60113e51061df200134fb4ef
project_id                                       5e8bfc839f161600121b497d
name_th                                                 บ้านเดี่ยวสองชั้น
propertytype_id                                                         1
propertytype_name_en                                       Detached House
propertytype_name_th                                                 บ้าน
area_total_min_wa                                                     NaN
area_usable_min                                                     300.0
price_min                                                       9900000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       4.0
count_room_bed                                                        4.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     2.0
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-12 13:29:44
date_updated                                          2021-01-27 17:22:06
source                                                             baania
url_unittype            https://baania.com/th/project/ไพรเวท-33-5e8bfc...
Name: 23, dtype: object)
(24, row_number                                                          17281
unittype_id                                      5f27d69182035a001a6f333e
project_id                                       5f0d4f38b285eb00194decde
name_th                                                            Studio
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      26.0
price_min                                                       1790000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        0.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-04-26 15:30:06
date_updated                                          2022-04-26 15:19:49
source                                                             baania
url_unittype            https://baania.com/th/project/ดีคอนโด-ไฮด์อเวย...
Name: 24, dtype: object)
(25, row_number                                                          17337
unittype_id                                      5f2d048d306e7e0019068fad
project_id                                       5f2cdf27306e7e0019068f25
name_th                                                  โฮมออฟฟิศสามชั้น
propertytype_id                                                         6
propertytype_name_en                                          Home office
propertytype_name_th                                            โฮมออฟฟิศ
area_total_min_wa                                                     NaN
area_usable_min                                                     210.0
price_min                                                       6300000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  3.0
count_parking                                                         1.0
count_room_bath                                                       4.0
count_room_bed                                                        3.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    NaN
count_room_living                                                     1.0
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-12 13:18:59
date_updated                                          2020-08-07 14:38:19
source                                                             baania
url_unittype            https://baania.com/th/project/นิวเอจ-สตูดิโอเฮ...
Name: 25, dtype: object)

In [ ]:
for row in unit.iterrows() :
  if 'สตูดิโอ'  in row[1]['url_unittype'] :
    print(row[1]['url_unittype'])

https://baania.com/th/project/นิวเอจ-สตูดิโอเฮ้าส์-5f2cdf27306e7e0019068f25/โฮมออฟฟิศสามชั้น-5f2d048d306e7e0019068fad
https://baania.com/th/project/ซีรีนพาร์ค-1470/สตูดิโอ-เฮาส์-1-ขายแล้ว-unittype_4466
https://baania.com/th/project/ดีคอนโด-นิม-1442/สตูดิโอ-unittype_4392
https://baania.com/th/project/สตูดิโอ-วัน-สตูดิโอ-โซน-คอมโดมิเนียม-15052/studio-zone-unittype_35050
https://baania.com/th/project/ซีรีนพาร์ค-1470/สตูดิโอ-เฮาส์-1-2-ขายแล้ว-unittype_4465
https://baania.com/th/project/สตูดิโอ-วัน-สตูดิโอ-โซน-คอมโดมิเนียม-15052/studio-one-unittype_35049
https://baania.com/th/project/เดอะลิงค์-3-สุขุมวิท-50-9245/สตูดิโอ-unittype_23152
https://baania.com/th/project/เดอะ-ลิงค์-สุขุมวิท-50-9248/สตูดิโอ-unittype_23157
https://baania.com/th/project/ทวีผลทาวเวอร์-770/สตูดิโอ-unittype_1535
https://baania.com/th/project/มัยลาภ-คอนโดมิเนียม-5746/สตูดิโอ-unittype_14412
https://baania.com/th/project/สีมานครคอนโดมิเนียม-1718/สตูดิโอ-type-a-unittype_5208

In [ ]:
for row in unit.head(2).iterrows():
  print(row)
  print('จำนวนสมาชิก', len(row))
  print('สมาชิกตัวที่ 1 ', row[0])
  print('สมาชิกตัวที่ 2 ', row[1])

(0, row_number                                                          27501
unittype_id                                                 unittype_9565
project_id                                                   project_2446
name_th                                                         2 Bedroom
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      37.3
price_min                                                       2500000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-19 18:00:09
date_updated                                          2021-11-19 17:44:45
source                                                             baania
url_unittype            https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
Name: 0, dtype: object)
จำนวนสมาชิก 2
สมาชิกตัวที่ 1  0
สมาชิกตัวที่ 2  row_number                                                          27501
unittype_id                                                 unittype_9565
project_id                                                   project_2446
name_th                                                         2 Bedroom
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      37.3
price_min                                                       2500000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-19 18:00:09
date_updated                                          2021-11-19 17:44:45
source                                                             baania
url_unittype            https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
Name: 0, dtype: object
(1, row_number                                                          28777
unittype_id                                                unittype_10267
project_id                                                   project_3543
name_th                                                บ้านแฝดสองชั้น Z-2
propertytype_id                                                     20000
propertytype_name_en                                           Twin house
propertytype_name_th                                              บ้านแฝด
area_total_min_wa                                                    40.0
area_usable_min                                                     150.0
price_min                                                       2390000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-01-27 14:30:04
date_updated                                          2022-01-27 14:22:55
source                                                             baania
url_unittype            https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
Name: 1, dtype: object)
จำนวนสมาชิก 2
สมาชิกตัวที่ 1  1
สมาชิกตัวที่ 2  row_number                                                          28777
unittype_id                                                unittype_10267
project_id                                                   project_3543
name_th                                                บ้านแฝดสองชั้น Z-2
propertytype_id                                                     20000
propertytype_name_en                                           Twin house
propertytype_name_th                                              บ้านแฝด
area_total_min_wa                                                    40.0
area_usable_min                                                     150.0
price_min                                                       2390000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-01-27 14:30:04
date_updated                                          2022-01-27 14:22:55
source                                                             baania
url_unittype            https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
Name: 1, dtype: object

## Groupby

In [ ]:
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...

In [ ]:
unit.describe()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,31772.000000,31772.000000,3136.000000,31772.000000,3.177200e+04,1334.000000,0.0,20946.000000,17100.000000,31117.000000,30880.000000,10938.000000,10048.000000,16010.000000,8053.000000,1539.000000,3416.000000,484.000000
mean,20742.017248,905.932425,44.084933,135.470846,5.812219e+06,2.446027,NaN,1.992361,1.854795,2.270881,2.453692,1.001646,1.010251,1.017114,1.050043,1.046784,1.050937,1.064050
std,12365.048954,4153.379976,21.600327,108.403541,1.164543e+07,1.519963,NaN,0.662424,0.760311,1.141710,1.186075,0.040535,0.103653,0.131138,0.250393,0.220284,0.250993,0.298424
min,1.000000,1.000000,1.000000,16.000000,1.000000e+05,1.000000,NaN,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,9498.750000,1.000000,22.675000,57.500000,1.990000e+06,1.000000,NaN,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21481.500000,2.000000,50.000000,120.000000,3.211500e+06,2.000000,NaN,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31374.250000,3.000000,60.000000,175.000000,5.500000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,NaN,9.000000,10.000000,10.000000,10.000000,2.000000,3.000000,3.000000,5.000000,3.000000,4.000000,4.000000

In [ ]:
unit.groupby(['propertytype_name_en']).mean()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
propertytype_name_en,,,,,,,,,,,,,,,,,,
Apartment,14347.833333,5.0,NaN,32.000000,1.788333e+06,1.000000,NaN,NaN,NaN,1.000000,0.666667,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN
Commercial,21786.889575,4.0,22.938218,188.357583,4.512310e+06,2.545455,NaN,3.083075,1.710526,3.162111,2.871638,1.007874,1.006250,1.023041,1.094595,1.000000,1.045802,2.000000
Condo,20644.572843,2.0,NaN,61.315127,6.273014e+06,1.909091,NaN,2.082645,1.158228,1.373511,1.292853,1.000619,1.003828,1.002564,1.004291,1.061728,1.066667,1.000000
Detached House,20736.530514,1.0,55.266553,196.055752,7.094641e+06,3.085938,NaN,1.775630,2.010080,2.888992,3.226208,1.001943,1.014019,1.028525,1.111573,1.048423,1.047807,1.024691
Home office,22691.529644,6.0,28.565854,276.167470,1.079344e+07,5.000000,NaN,3.508000,2.844444,3.914980,2.718750,1.000000,1.044444,1.026316,1.208333,1.000000,1.062500,1.500000
Hotel,26764.500000,2362.0,NaN,57.750000,1.081375e+07,1.500000,NaN,NaN,NaN,1.000000,0.750000,1.000000,NaN,1.000000,1.000000,NaN,NaN,NaN
Office Space,35580.500000,7777.0,NaN,492.500000,1.825000e+07,NaN,NaN,4.000000,NaN,5.500000,4.000000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
Townhome,20561.698421,3.0,22.317826,128.617524,2.952449e+06,2.238739,NaN,2.158249,1.541206,2.395680,2.847408,1.001626,1.003754,1.008403,1.034514,1.000000,1.058383,1.081301
Twin house,20830.067596,20000.0,39.903211,139.504188,3.663223e+06,2.441860,NaN,1.846690,1.744628,2.454349,2.964106,1.003690,1.009600,1.025799,1.047847,1.050000,1.055276,1.076923
Warehouse / Factory,41127.800000,8.0,NaN,598.400000,1.840900e+07,NaN,NaN,2.400000,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## HW
1. เปรียบเทียบราคาเฉลี่ยของ Detached house, Condo, Twin house และ Townhome
2. พื้นที่ (area_total_min_wa และ area_usable_min) และ จำนวนห้องนอน ของทรัพย์สินที่แพงที่สุดแต่ละชนิด
3. จำนวนที่จอดรถและห้องน้ำของของทรัพย์สินที่ถูกที่สุดแต่ละชนิด

In [30]:
#1. เปรียบเทียบราคาเฉลี่ยของ Detached house, Condo, Twin house และ Townhome
unit.groupby('propertytype_name_en')['price_min'].mean()[['Detached House', 'Condo', 'Twin house', 'Townhome']]

propertytype_name_en
Detached House    6.674175e+06
Condo             6.266300e+06
Twin house        3.612469e+06
Townhome          2.810930e+06
Name: price_min, dtype: float64

In [37]:
unit.groupby('area_total_min_wa')['price_min'].max()

area_total_min_wa
1.0      75900000.0
1.2       9130000.0
2.0      25000000.0
2.5       4550000.0
2.8       7990000.0
            ...
98.7      7420000.0
99.0     50400000.0
99.8      8500000.0
100.0     1790000.0
335.0    32000000.0
Name: price_min, Length: 522, dtype: float64